.product-selector {
    
    *[id^="product-"] {
        cursor: pointer;

        .inner {
            box-shadow: $box-shadow-gen;
            border-radius: $border-radius-gen;
        }
    }

    .name {
        &::first-letter {
            text-transform: uppercase;
        }
    }
}