.product-selector {

    .product-btn {
        cursor: pointer;
        transition: .2s all ease-in-out;

        .inner {
            box-shadow: $box-shadow-gen;
            border-radius: $border-radius-gen;
        }

        h5.name, .icon, > div {
            transition: .2s all ease-in-out;
        }

        &:hover {
            h5.name, .icon {
                color: #ffffff!important;
            }
            > div {
                background: #0097D7 !important;
            }
        }
    }

    .name {
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .fixed_height {
        height: 80px;
    }

    @include media-breakpoint-up(lg) {
        .fixed_height {
            height: 95px;
        }

        .icon-fixed {
            font-size: 1.4rem;
        }
    }

}