<div class="product-features-table-header-mobile-container d-md-none">
  <div class="product-features-table-header-mobile d-flex justify-content-between align-items-end">
    {% for col in array.columns %}
      <div class="table-button">
        <span class="table-button--title text-center text-primary">{{col.title | trans | raw}}</span>
        <div class="table-button--plus">
          <span class="icon icon-adeslas_icon_close text-white"></span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="table-button-close-container">
    <div class="table-button-close d-flex align-items-end">
        <div class="table-button">
          <span class="table-button--title text-center text-primary"></span>
          <div class="table-button--plus">
            <span class="icon icon-adeslas_icon_close text-white"></span>
          </div>
        </div>
    </div>
  </div>

</div>

<table class="table table-striped table-bordered" id="product-features-table">
  <thead>
    <tr>
      <th scope="col" class="text-primary h4 font-weight-bold">&nbsp;</th>
      {# Loop trough cols headers #}
      {% for col in array.columns %}
        <th scope="col" class="text-center text-primary">{{col.title | trans | raw}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {# Loop trough rows #}
    {% for row in array.rows %}
    {% set rowIndex = loop.index %}
      <tr>
        <th scope="row">{{ row | raw }}</th>
        {# Loop trough cols using current row index #}
        {% for i in 1 .. array.columns|length %}
        {% set colIndex = loop.index %}
          <td class="text-center">
            {% if array.columns['column' ~ colIndex].values[rowIndex - 1] == true %}
              <i class="icon-checkmark" />
            {% else %}
              <i class="icon-cross" />
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>