<!-- Modal -->
<div class="modal fade" id="c2cTermsModal" tabindex="-1" role="dialog" aria-labelledby="Te llamamos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-header">Política de privacidad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon icon-cancel-circle text-white"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis tellus in ipsum gravida scelerisque. Pellentesque velit ipsum, condimentum sed erat vitae, hendrerit consequat lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed sapien accumsan eros mattis tincidunt. Mauris et elementum dolor, ac porttitor elit. Aliquam ut accumsan sem. Quisque rutrum posuere purus, vel consectetur arcu tincidunt vel.</p>
        <p>Mauris vel semper nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo nisl a metus gravida tristique. Maecenas id blandit odio. Curabitur pharetra velit mi, eget auctor massa mollis at. Curabitur malesuada lectus sed ex condimentum sodales. Nullam euismod tellus et mauris malesuada, id porta dui iaculis. Integer sem diam, auctor eu libero efficitur, tincidunt dictum nulla. Phasellus sit amet malesuada urna, nec laoreet arcu. Praesent condimentum ligula arcu, id semper ante feugiat ac. Sed quis metus porta, ultricies mi a, blandit mauris. Proin feugiat condimentum justo, sed laoreet lectus posuere sit amet. Vestibulum eu odio at enim lacinia condimentum non vel lectus. Morbi aliquet eu justo quis ultricies.</p>
        <p>Proin a varius nisl. Donec interdum finibus ipsum, id commodo eros tempor vel. Pellentesque et rutrum diam. Cras eros diam, imperdiet vitae ornare ut, efficitur faucibus velit. Fusce vulputate risus turpis, in sollicitudin mauris egestas sit amet. Vestibulum faucibus laoreet nisi, eget fringilla leo congue ut. Aenean iaculis ullamcorper orci. Sed in semper elit. Quisque vulputate, nunc sit amet placerat tempus, tellus elit semper turpis, eu porttitor dolor ex nec nunc.</p>
        <p>Etiam mattis pharetra dui ac mollis. Aliquam interdum dolor urna, nec vestibulum ante fringilla quis. Morbi lorem felis, auctor non metus eget, fermentum commodo libero. Donec pretium odio lectus, vitae sodales tortor dignissim vitae. Integer consectetur nulla vel odio accumsan facilisis. Pellentesque quis magna tempus, vulputate lectus at, consequat sem. Suspendisse pretium ipsum vitae sem consectetur, sed interdum nulla laoreet.</p>
        <p>Pellentesque placerat volutpat justo non mollis. Cras dolor diam, ornare at tortor eget, bibendum ultrices eros. Integer sit amet placerat arcu. Aliquam mollis auctor sapien sit amet vehicula. Vivamus eget sem ipsum. Duis at nulla vestibulum, facilisis elit a, finibus libero. Donec mollis varius ligula ac gravida. Ut vehicula accumsan tempor. Nam suscipit turpis neque, eu placerat turpis cursus eget. Nam ultricies odio ornare, fermentum turpis in, rhoncus quam. Nam eget ligula molestie, semper justo et, feugiat turpis. Aenean sed sagittis nulla. Cras nec laoreet nisi, et vehicula leo.</p>
      </div>
    </div>
  </div>
</div>