<!-- Modal -->
<div class="modal fade" id="c2cTermsModal" tabindex="-1" role="dialog" aria-labelledby="Te llamamos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="h4 d-block text-header">{{ "privacy.title_detail" | trans | raw }}</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon icon-adeslas_icon_close text-white text-white"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ "privacy.content" | trans | raw }}</p>
      </div>
    </div>
  </div>
</div>