{% extends 'base.html.twig' %}

{% block title %}{{ "conditions.title_detail" | trans }}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ "conditions.meta_description" | trans }}">{% endblock %}

{# {% block c2cPopup %}
{% endblock %} #}

{% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ "conditions.content" | trans | raw }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
{% endblock %}
