{% extends 'base.html.twig' %}

{% block title %}{{ "home.title_detail" | trans }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "home.meta_description" | trans }}">{% endblock %}

{% block body %}

  <div class="container-fluid p-0">
    {% include 'components/slider-home/slider-home.html.twig' with {
      slides: hero,
    } %}
  </div>

  <div class="container-fluid">
    <div class="container">
      {% include 'components/configurator/configurator.html.twig' with {} %}
    </div>
  </div>

  <div class="container-fluid">
      {% include 'components/feature-cards/feature-cards.html.twig' with {} %}
  </div>
{% endblock %}
