{% extends 'base.html.twig' %}

{% block title %}{{"legal_text.title" | trans}}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ "legal_text.meta_description" | trans }}">{% endblock %}

{% block c2cPopup %}
{% endblock %}

{% block body %}
    {% include 'components/page-header/page-header.html.twig' with {
      title:           "legal_text.title"        | trans,
      subtitle:        "legal_text.subtitle"     | trans,
      backgroundImage: "legal_text.bg_image_top" | trans,
    } %}
  
  <section class="">
    {{ "legal_text.content" | trans | raw }}
  </section>

  {% include 'components/terms-popup/terms-popup.html.twig' %}

{% endblock %}


{% block javascripts %}
  {{ parent() }}
{% endblock %}
