{% extends 'base.html.twig' %}

{% block title %}{{"legal.title_detail" | trans}}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "legal.meta_description" | trans }}">{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12" style="margin-top: 60px;">
          {{ "legal.content" | trans | raw }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
{% endblock %}
