{% extends 'base.html.twig' %}

{% block title %}{{ "home.title_detail" | trans }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "home.meta_description" | trans }}">{% endblock %}

{% block body %}
  <input type="hidden" id="product-value" value="{{product_value}}" />


  {% include 'components/product-single-hero/product-single-hero.html.twig' with {
    image: hero_image
  } %}

  <div class="container-fluid container-lg">
    <div class="row">
      <div class="col-12 col-lg-8">

        {% include 'components/back-button/back-button.html.twig' with {referer: '/'} %}
      
        {# bullet lists without description #}
        {% if bullets_extra is not empty %}
            {% include 'super-components/bullets_extra/bullets_extra.html.twig' with {
            bullets_extra: bullets_extra,
          } %}
        {% endif %}

        {% if (table is not empty and product != "go") %}
          <div class="container-fluid px-0">
            <div class="container px-0">
              {% include 'components/product-features-table/product-features-table.html.twig' with {
                array: table,
              } %}
            </div>
          </div>
        {% endif %}

        {# Dropdown + title #}
        {% if des_with_dropdown is not null %}
          {% include 'super-components/dropdown/dropdown.html.twig' with {
            dropdown: des_with_dropdown,
          } %}
          {# bg_grey: false, #}

        {% endif %}


        {# bullet lists without description #}
        {% if desc_with_bullets is not empty %}
          {% include 'super-components/bullets_extra/bullets_extra.html.twig' with {
            bullets_extra: desc_with_bullets,
          } %}
        {% endif %}


        {% include 'components/image-divider/image-divider.html.twig' with {
          image: imgdivider.section1
        } %}


        {# Desc (title + desc + image) #}
        {% include 'super-components/hero-title-desc/hero-title-desc.html.twig' with { 
          desc:desc,
          bg_grey: false,
        } %}

        {% if (table is not empty and product == "go") %}
          <div class="container-fluid px-0">
            <div class="container px-0">
              {% include 'components/product-features-table/product-features-table.html.twig' with {
                array: table,
              } %}
            </div>
          </div>
        {% endif %}

        {# Dropdown + title and image divider #}
        {% if des_with_dropdown is not null %}
          {% include 'super-components/dropdown/dropdown.html.twig' with {
            dropdown: dropdown_last,
          } %}
          {# bg_grey: true, #}
        {% endif %}

        {% include 'components/image-divider/image-divider.html.twig' with {
          image: imgdivider.section2
        } %}

        {# Dropdown + title (faq) #}
        {% if des_with_dropdown is not null %}
          {% include 'super-components/dropdown/dropdown_faq.html.twig' with {
            dropdown: faq,
            bg_grey: true,
          } %}
          {# bg_grey: true, #}
        {% endif %}

      </div>
      <div class="col-4 d-none d-lg-block">
        <div id="pincard" style="width: 100%;">
          {% include 'components/product-single-card/product-single-card.html.twig' with {
            price_pre: "#{product}.price_with_details.price.pre" | trans | raw,
            price_quantity: "#{product}.price_with_details.price.quantity" | trans | raw,
            price_currency: "#{product}.price_with_details.price.currency" | trans | raw,
            price_period: "#{product}.price_with_details.price.period" | trans | raw,
            price_bullets: price_bullets,
            cta_text: "#{product}.price_with_details.cta.text" | trans | raw,
            cta_path: "#{product}.price_with_details.cta.path" | trans | raw
          } %}
        </div>
      </div>
    </div>
  </div>

  {# TODO: borrar esto si Andres confirma que la tarjeta queda donde está #}
  {# <div class="col-4 d-none d-lg-block">
    <div class="fixed-top container">
      <div class="row">
        <div class="col-4 offset-8 mt-3">
          {% include 'components/product-single-card/product-single-card.html.twig' %}
        </div>
      </div>
    </div>
  {# </div> #}

{% endblock %}
