{% extends 'base.html.twig' %}

{% block title %}{{ "home.title_detail" | trans }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "home.meta_description" | trans }}">{% endblock %}

{% block body %}

  {% include 'components/product-single-hero/product-single-hero.html.twig' %}

  <div class="container-fluid container-lg px-0">
    <div class="row">
      <div class="col-12 col-lg-8 p-0">

        {# bullet lists without description #}
        {% if bullets_extra is not empty %}
            {% include 'super-components/bullets_extra/bullets_extra.html.twig' with {
            bullets_extra: bullets_extra,
          } %}
        {% endif %}


        {# Dropdown + title #}
        {% if des_with_dropdown is not null %}
          {% include 'super-components/dropdown/dropdown.html.twig' with {
            dropdown: des_with_dropdown,
          } %}
          {# bg_grey: false, #}

        {% endif %}



        {# bullet lists without description #}
        {% if desc_with_bullets is not empty %}
            {% include 'super-components/bullets_extra/bullets_extra.html.twig' with {
              bullets_extra: desc_with_bullets,
            } %}

            {# Image divider #}
            {% include 'components/simple-divider-image/simple-divider-image.html.twig' with {
              image: desc_with_bullets.image
            } %}
        {% endif %}


        {# Header titles #}
        {% include 'components/header-titles/header-titles.html.twig' with {
          bg_grey: true,
          mini_header: '',
          text_header: "#{product}.desc.title" | trans | raw,
          content_header: "#{product}.desc.text" | trans | raw,
        } %}



        {# Dropdown + title and image divider #}
        {% if des_with_dropdown is not null %}
          {% include 'super-components/dropdown/dropdown.html.twig' with {
            dropdown: dropdown_last,
          } %}
          {# bg_grey: true, #}

          {% include 'components/simple-divider-image/simple-divider-image.html.twig' with {
            image: dropdown_last.image
          } %} 
        {% endif %}

        {# Dropdown + title (faq) #}
        {% if des_with_dropdown is not null %}
          {% include 'super-components/dropdown/dropdown_faq.html.twig' with {
            dropdown: faq,
          } %}
          {# bg_grey: true, #}
        {% endif %}


        {% if table is not empty %}
          <div class="container-fluid">
            <div class="container">
              {% include 'components/product-features-table/product-features-table.html.twig' with {
                array: null,
              } %}
            </div>
          </div>
        {% endif %}

      </div>

      {# TODO: borrar esto si Andres confirma que la tarjeta queda donde está #}
      {# <div class="col-4 d-none d-lg-block">
        <div class="fixed-top container">
          <div class="row">
            <div class="col-4 offset-8 mt-3">
              {% include 'components/product-single-card/product-single-card.html.twig' %}
            </div>
          </div>
        </div>
      {# </div> #}
    </div>
  </div>
  {# Hero section desktop #}

{% endblock %}
