<div id="configuration-product-section" class="col-12 p-0 fade-in">
    <div class="row p-0 mb-4">
      <div class="col-12 p-3 text-md-center">
      <span class="h6 d-block mini-header">Configurador</span>
      <h2 class="text-header mb-3">¿Qué tipo de seguro estás buscando?</h2>
      <p>Descubre el seguro que mejor se adapta a tus necesidades</p>
      </div>
    </div>
    <div class="col-12 p-0">
      {% include 'components/product-selector/product-selector-main.html.twig' with {
          mainelements: mainelements
        }
      %}
    </div>
</div>

<div class="fullscreen-product-config">

    <div class="progress-bar">
        <div class="bar"></div>
    </div>

    <div class="close-button">
      <span class="icon icon-adeslas_icon_close h6 m-0 text-primary"></span>
    </div>

    <div id="back" class="back-button">
      <span class="icon icon-arrow-left2 h6 m-0 text-primary"></span>
    </div>

    <div class="product-config container">
      <div class="mb-4 px-3">
      <span class="h3 d-block mini-header">Salud</span>
      <span class="h2 d-block text-header"></span>
      </div>
      <div class="container button-container product-selector p-0">
        {% include 'components/product-selector/product-selector.html.twig' with {
            firstchildrens: firstchildrens,
            secondChildrens: secondChildrens
          }
        %}
      </div>
  </div>
</div>

{% include 'components/fullscreen-loader/fullscreen-loader.html.twig' %}