<div class="footer">
    <div class="container-fluid">
        <div class="container text-center">
            <div class="col-12">
                {# <img class="d-block mx-auto pb-3" src="{{ asset('/images/adeslas_simple_logo_white.svg') }}"/> #}
                <img class="d-block mx-auto pb-3" src="https://via.placeholder.com/50x25"/>
                <a class="link" href="#">Aviso legal</a> | 
                <a class="link" href="#">Política de privacidad</a> | 
                <a class="link" href="#">Política de cookies</a> |
                <a class="link" href="#">Condiciones de la promoción</a>
                <div class="footer-divider"></div>
                <h6>GLOBAL INSURANCE</h6>
                <span class="d-block">Agente exclusivo Adeslas</span>
                <span>[código]</span>
                <div class="footer-divider"></div>
                <span class="copyright">@Adelas 2020</span>
            </div>
        </div>
    </div>
</div>