.click-to-call,
.click-to-call-btn,
.click-to-call-mobile {
    transition: all ease .3s;
}

.click-to-call {
    position: fixed;
    z-index: 99;
    background: white;

    .close-c2c {
        cursor: pointer;
    }

    .form-check-input {
        margin-top: 0.1rem;
    }

    .label-in-block {
        label {
            display: inline-block;
            background-color: $white;
            color: $primary;
            font-size: .7rem;
            margin-left: .5rem;
            padding: 0 .5rem;
        }

        input {
            margin-top: -1.1rem;
            height: 50px;
            border-color: #0097d7;
            border-radius: 8px;
        }

    }

    .icon-phone-container {
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 99px;
        margin-right: 1rem;
        background: white;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .img-call {
        width: 80px;
    }
}

.click-to-call--header {
    cursor: pointer;
}

.click-to-call-desktop {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 305px;

    &.c2c-collapsed {
        transform: translate(100%, -50%);
    }
}

.click-to-call-mobile {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(calc(100% - 49px));

    &.c2c-mobile-open {
        transform: translateY(0);
    }

    .click-to-call--body {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.click-to-call-btn {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 100;
    transform: translate(100%, -50%);
    border-top-left-radius: $border-radius-gen;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $border-radius-gen;

    &.c2c-size-open {
        transform: translate(0, -50%);
    }
}

#call-me-later-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    .call-me-now-popup__overlay {
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
    }

    .call-me-now-popup__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 90%;
        border-radius: 10px !important;

        @include media-breakpoint-up(md) {
            width: 600px;
        }
    }

    .call-me-now-popup__header,
    .call-me-now-popup__body {
        padding: 1rem 3rem;
    }

    .call-me-now-popup__header {
        border-radius: 5px 5px 0 0 !important;
        background: #0097d7;
        color: white;
    }

    .call-me-now-popup__body {
        text-align: center;

    }

    svg {
        width: 20px;
    }

}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $primary;
    border-color: $primary transparent $primary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}