{% if mini_header or text_header or content_header %}
<div class="container-fluid header-page-title {% if bg_grey is defined and bg_grey == true %}bg-grey{% endif %}">
  <div class="container py-3 px-0">
    <div class="row">
      <div class="col-12">
        {% if mini_header %}
          <span class="h6 d-block mini-header">
            {{ mini_header }}
          </span>
        {% endif %}
        {% if text_header %}
          {% if h1 == true %}
            <h1 class="text-header">
              {{ text_header }}
            </h1>
          {% else %}
            <span class="h1 d-block text-header">
              {{ text_header }}
            </span>
          {% endif %}
        {% endif %}
        {% if content_header %}
          <p>
            {{ content_header|raw }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}