<div class="fullscreen-loader">
  <div class="inner">
    <div class="logo mb-5" >{{ source('@public_path'~asset('build/images/adeslas_simple_logo_blue.svg')) }}</div>
    <p class="h3 text-center mb-5">
      Estamos buscando las mejores ofertas para ti...
    </p>
    <div class="spinner lds-dual-ring loader-spinner"></div>
  </div>
  <div class="curtain"></div>
</div>