<div class="container-fluid px-0 bg-grey py-5" id="faqs">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <p class="h6 text-primary text-left">
          FAQ's
        </p>
        <h2 class="h1 text-left font-weight-bold">
          Diccionario
        </h2>
        <div id="accordion" class="accordion">
          <div class="card mb-0">
            <div class="card-header collapsed py-4 bg-grey px-0" data-toggle="collapse" href="#collapse1">
              <a class="card-title font-weight-bold h5"> ¿Qué es un copago?</a>
            </div>
            <div id="collapse1" class="card-body bg-grey collapse" data-parent="#accordion">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </p>
            </div>
            <div class="border-top my-0 bg-grey"></div>
            <div class="card-header collapsed py-4 bg-grey px-0" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <a class="card-title font-weight-bold h5"> ¿Qué es el test médico previo? </a>
            </div>
            <div id="collapse2" class="card-body bg-grey collapse" data-parent="#accordion">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </p>
            </div>
            <div class="border-top my-0 bg-grey"></div>
            <div class="card-header collapsed py-4 bg-grey px-0" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <a class="card-title font-weight-bold h5"> ¿Qué son las carencias? </a>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body bg-grey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS. </div>
            </div>
            <div class="border-top my-0 bg-grey"></div>
            <div class="card-header collapsed py-4 bg-grey px-0" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              <a class="card-title font-weight-bold h5"> ¿Qué es una póliza? ¿Y una prima? </a>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="card-body bg-grey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS. </div>
            </div>
            <div class="border-top my-0 bg-grey"></div>
            <div class="card-header collapsed py-4 bg-grey px-0" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              <a class="card-title font-weight-bold h5"> ¿Puedo contratar una póliza si no tengo DNI o NIE? </a>
            </div>
            <div id="collapse5" class="collapse" data-parent="#accordion">
              <div class="card-body bg-grey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS. </div>
            </div>
            <div class="border-top my-0 bg-grey"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>