// Animations

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@mixin animation-transition-base {
    -webkit-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    /* easeInOutQuart */
}