.fullscreen-product-config {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
    display: flex;
    align-items: center;
    transform: translateY(+100%);
    transition: all .7s ease-out;

    .close-button,
    .back-button {
        position: fixed;
        cursor: pointer;
        background: $gray-300;
        width: 40px;
        height: 40px;
        border-radius: 999px;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .close-button {
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .back-button {
        top: 20px;
        left: 20px;
        cursor: pointer;
    }

    &.active {
        transform: translateY(0);
    }

    .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: $gray-600;

        .bar {
            position: absolute;
            top: 0;
            left: 0;
            // width: 33.333333333%;
            height: 100%;
            background: $primary;
        }
    }
}