#product-single-hero {
  .product-single-hero-mobile {
    background-position-y: -200px;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .product-single-hero-desktop {
    background-size: cover;
    background-position: center;
    height: 350px;
  }

  #pincard {
    top:initial!important ;
    transition: top 1s;
    z-index: 99;
  }

  .product-single-card {
    margin: auto;
  }

  @include media-breakpoint-up(lg) {
    .product-single-card {
      margin: initial;
      margin-left: auto;
    }
  }
}
.scrollmagic-pin-spacer {
  position:absolute!important;
}