{% if desc.image is defined %}
  {% if desc.image is not null %}
    <div class="container-fluid header-titles p-0 ">
      <div class="container py-3 p-0">
        <div class="slider-bg hero-title-desc" style="background-image:url({{ asset('build/images/'~ "#{desc.image}") }});"></div>
      </div>
    </div>

  {% endif %}
{% endif %}

{% set suptitle = '' %}
{% if desc.suptitle is defined %}
  {% set suptitle = desc.suptitle %}
{% endif %}

{% include 'components/header-titles/header-titles.html.twig' with {
  mini_header: suptitle,
  text_header: desc.title,
  heading_small: false,
  content_header: desc.text
} %}