<div class="container-fluid p-0">
  {% include 'components/header-titles/header-titles.html.twig' with {
    mini_header: dropdown.suptitle,
    text_header:  dropdown.title,
    heading_small: false,
    content_header: dropdown.text,
  } %}
</div>

{% include 'components/dropdown/dropdown.html.twig' with {
  dropdown_items: dropdown.drop
} %}