<div class="container-fluid bg-grey pt-0 pb-2 px-0" id="dropdown">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <div id="accordion" class="accordion">
          <div class="card mb-0">
            {% for item in dropdown_items %}
              <div class="card-header collapsed py-4 bg-grey px-0" data-toggle="collapse" href="#collapse{{ loop.index }}">
                <a class="card-title font-weight-bold h5">{{ item.title | trans | raw}}</a>
              </div>
              <div id="collapse{{ loop.index }}" class="card-body bg-grey collapse px-0" data-parent="#accordion">
                <p>{{ item.text | trans | raw }}</p>
              </div>
              <div class="border-top my-0 bg-grey"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>