<div class="card product-mini-card">
  <div class="card-body">
    <p class="h1 text-primary text-header">{{ top | trans }}</p>
    <p class="h5 text-primary font-weight-bold">{{ middle }}</p>
    <p>{{ bottom }}</p>
  </div>
</div>