<div class="card product-mini-card">
  <div class="card-body">
    <p class="h1 text-primary text-header">{{ card.top | trans }}</p>
    <p class="h5 text-primary font-weight-bold">{{ card.middle | trans }}</p>
    <p>{{ card.bottom | trans }}</p>
  </div>
</div>