<div class="card product-mini-card">
  <div class="card-body">
    <p class="h1 text-primary text-header">{{ title }}</p>
    <p class="h5 text-primary font-weight-bold">{{ subtitle }}</p>
    <p>{{ body }}</p>
  </div>
</div>