<div class="card product-mini-card text-left">
  <div class="card-body">
    <h3 class="h4 text-info text-header">{{ top | trans }}</h3>
    <p class="h5 font-weight-bold">{{ middle }} {{ bottom }}</p>
  </div>
</div>