.swiper-home {

    // height: 450px;

    // @include media-breakpoint-up(md) {
    //     height: 550px;
    // }

    .inner {
        padding: 3rem 0;
    }

    .slider-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-button-next {
        top: calc(50% - 25px);

        &:after {
            left: 17px;
            top: 6px;
        }
    }

    .swiper-button-prev {
        top: calc(50% + 25px);
        
        &:after {
            left: 13px;
            top: 6px;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        background: rgba(0,0,0,0.3);
        border-radius: 99px;
        width: 40px;
        height: 40px;
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            display: block;
        }

        &:after {
            position: absolute;
            font-size: 1.2rem;
        }

    }

    .slider-bg {
        // position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 65%;

        @include media-breakpoint-up(md) {
            background-position: center right;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(50, 50, 50, 0.3);
        }
    }

    .swiper-slide {
        .container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            z-index: 20;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $white;
    }

    .swiper-pagination-bullet {
        background: $white;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: $primary;
        transform: scale(1.5);
    }

    .swiper-pagination {
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
        max-width: 540px;
        padding-right: 15px;
        padding-left: 15px;

        @include media-breakpoint-up(md) {
            max-width: 720px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 1140px;
        }
    }

    .swiper-container-horizontal {
        &>.swiper-pagination-bullets {
            bottom: 7%;
        }
    }

    .description {
        max-width: 400px;
    }

    .container-next-prev {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(calc(-50% + 150px));
        z-index: 3;
        width: 60px !important;

        @include media-breakpoint-up(md) {
            transform: translateX(calc(-50% + 250px));
        }

        @include media-breakpoint-up(lg) {
            transform: translateX(calc(-50% + 400px));
        }

        @include media-breakpoint-up(xl) {
            transform: translateX(calc(-50% + 570px));
        }

        .container-next-prev-inner {
            display: block;
            height: 100%;
            width: 60px;
            position: relative;
            float: right;
        }
    }

    .btn {
        padding: 0.75rem 3rem;
    }

}