<div class="cookies-banner bg-primary d-none">
    <div class="inner">
        <p class="text-white">
            De acuerdo con la normativa española en materia de cookies, considerando que en la página web utilizamos cookies propias y de terceros para mejorar la experiencia de navegación, y ofrecer contenidos de interés. Es preciso tu consentimiento a nuestra política de cookies para continuar navegando. Encuentra aquí toda la información sobre nuestra política de cookies
        </p>
        <button type="submit" class="btn btn-invert accept-cookies">ACEPTAR</button>
    </div>
</div>